<div class="d-flex justify-content-between">
    <div class="w-100">
      <div class="row">
        <div class="col-sm-12 col-md-6 d-flex justify-content-center flex-column align-items-center izq">
          <div style="margin-bottom: 40px;">
            <h1 class="logo">BETON.</h1>
            <h5 class="logo2">ARQUITECTURAa</h5>
          </div>
          <div>
            <p class="tux">- SITIO EN CONSTRUCCIÓN -</p>
            <div class="d-flex justify-content-evenly align-items-center pb-4">
              <a href="https://www.instagram.com/beton_arq/" style="z-index: 10;" target="_blank">
                <div class="borde">
                  <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1682023989/Beton/Instagram_fliqxg.svg") %>
                </div>
              </a>
              <a href="https://wa.me/541133226589?text=Hola%20Beton%20Aquitectura.%20Estoy%20interesado%20en%20obtener%20más%20información%20sobre%20sus%20servicios%20de%20arquitectura,%20me%20gustaria%20poder%20obtener%20mas%20informacion." style="z-index: 10;" target="_blank">
                <div class="borde">
                  <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1682023989/Beton/Whatsapp_c6amwv.svg") %>
                </div>
              </a>
              <a href="#" style="z-index: 10;" target="_blank">
                <div class="borde">
                  <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1682023989/Beton/Pinterest_v95iqz.svg") %>
                </div>
              </a>
              <a href="mailto:arq.beton@gmail.com" style="z-index: 10;" target="_blank">
                <div class="borde">
                  <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1682023989/Beton/Icono_mail_qafa7f.svg", style:"width: 30px;") %>
                </div>
              </a>
            </div>
          </div>
          <div class="linea"></div>
        </div>
        <div class="col-sm-12 col-md-6 p-0">
          <div class="image-back"></div>
          <div class="linea2"></div>
        </div>
      </div>
    </div>
</div>
