@import "components/banner";




@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@font-face {
  font-family: "Acumin Pro bold It";
  src: url('AcuminPro/Acumin-BdItPro.otf');
  font-weight: bolder;
}

@font-face {
  font-family: "Acumin Pro bold";
  src: url('AcuminPro/Acumin-BdPro.otf');
  font-weight: bolder;
}

@font-face {
  font-family: "Acumin Pro it";
  src: url('AcuminPro/Acumin-ItPro.otf');
  font-weight: bolder;
}

@font-face {
  font-family: "Acumin Pro medium";
  src: url('AcuminPro/FontsFree-Net-Acumin-Pro-Medium-1.ttf');
  font-weight: medium;
}

@font-face {
  font-family: "Acumin Pro light";
  src: url('AcuminPro/FontsFree-Net-Acumin-Pro-Light.ttf');
  font-weight: lighter;
}

@font-face {
  font-family: "Acumin Pro thin";
  src: url('AcuminPro/FontsFree-Net-Acumin-Pro-Thin.ttf');
  font-weight: thin;
}

@font-face {
  font-family: "Acumin Pro Extracondenser bolder";
  src: url('AcuminPro/acumin-pro-extra-condensed-black 2.otf');
  font-weight: bolder;
}

@font-face {
  font-family: "Acumin Pro Extracondenser bold";
  src: url('AcuminPro/acumin-pro-extra-condensed-bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: "Acumin Pro Extracondenser medium";
  src: url('AcuminPro/acumin-pro-extra-condensed-med.otf');
  font-weight: medium;
}
